*
button{
    width: 100%;
    position: left;
    border: none;
    border-radius: 5px;
    background-color: #d1f063;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}

button:hover{
    background-color: #f1eded;